@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Ver perfil", "VerPerfil")
    </div>
    <div>
        @Html.ActionLink("Novo usuário","NovoUsuario")
    </div>
</body>
</html>