@{
    Layout = null;
}
@using WeRep.Models
@model UsuarioViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Seja bem-vindo, @Model.nome</p>
    <div>
        @Html.ActionLink("Ver perfil", "VerPerfil")
    </div>
</body>
</html>