@model WeRep.Models.UsuarioViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerPerfil</title>
</head>
<body>
    <div> 
        @Model.nome
        @Model.senha
    </div>
</body>
</html>
